/* 全体 */
body {
  background: #222;
  color: #0f0;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 画面いっぱいの高さ */
}

/* ヘッダー */
header {
  background: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-bottom: 2px solid #0f0;
}

.logo {
  font-weight: bold;
  font-size: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav li {
  margin-left: 20px;
}

nav a {
  color: #0f0;
  text-decoration: none;
}

/* メインコンテンツ（真ん中） */
main {
  flex: 1; /* フッターを下に押し下げる設定 */
  padding-top: 50px;
}

h1 {
  border: 5px solid #0f0;
  padding: 20px;
  display: inline-block;
  border-radius: 10px;
}

/* フッター */
footer {
  background: #333;
  padding: 15px 0;
  border-top: 2px solid #0f0;
}

footer p {
  margin: 0;
  font-size: 14px;
}
